@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');


h1 {
    font-family: 'Emblema One', sans-serif;
    -webkit-text-stroke: 3px black;
    color: rgb(25, 117, 36);
}

p {
    font-weight: 500;
    font-size: large;
}