h1 {
    color: #72379c;
    font-size: 80px;
    text-align: center;
    }
    h2{
        color: #924bdd;
    font-size: 70px;
    text-align: center;
    }
    p{
        color: #5949b8;
    font-size: 30px;
    text-align: center;
    }
    
    button{
        color: #370909;
        background-color: rgb(5, 11, 92);
    font-size: 80px;
    border: rgb(19, 103, 139);
    text-align: center;
    }